{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container">
   <table class="table">
      <thead>
        <tr>
          <th scope="col">Product</th>
          <th scope="col">Price</th>
          <th scope="col">Tax</th>
          <th scope="col">Quantity</th>
          <th scope="col">Total</th>
          <th scope="col">Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>Otto</td>
          <td><a href="{% url 'delete' id %}">❌</a></td>
        </tr>
        
      </tbody>
    </table>
</div>
{% endblock content %}