{% extends 'base.html' %}
{% load static %}
{% block title %}Fashion Page{% endblock title %}


{% block content %}

   

<div class="blue_bg">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage">
               <h2>Fashion</h2>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- fashion section -->
<div class="fashion">
   <img src="{% static 'images/fashion.jpg' %}" alt="#"/>
</div>
<!-- end fashion section -->
<!--  footer -->

{% endblock content %}