{% extends 'base.html' %}
{% load static %}
{% block title %}News Page{% endblock title %}


{% block content %}

<!-- end header -->
<div class="blue_bg">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage">
               <h2>Letest News</h2>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- news section -->
<div class="news">
   <div class="container">
      <div class="row">


         {% for news in newsList %}
         <div class="col-md-12 margin_top40">
            <div class="row d_flex">
               <div class="col-md-5">
                  <div class="news_img">
                     <figure><img src="{{news.image.url}}"></figure>
                  </div>
               </div>
               <div class="col-md-7">
                  <div class="news_text">
                     <h3>{{news.title}}</h3>
                     <span>{{news.pub_date}}</span>
                     <div class="date_like">
                        <span>Like </span><span class="pad_le">Comment</span>
                     </div>
                     <p>{{news.description}}</p>
                     <button >Read More</button>
                  </div>
               </div>
            </div>
         </div>
         {% endfor %}


      </div>
   </div>
</div>
<!-- end news section -->
{% endblock content %}