{% extends 'base.html' %}
{% load static %}
{% block title %}Products Page{% endblock title %}


{% block content %}
   
<div class="blue_bg">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage">
               <h2>Featured Products</h2>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- project section -->
<div id="project" class="project">
   <div class="container">
   
    
      <div class="row">
      <div class="product_main">
         {% for product in productList %}
            <div class="project_box ">
               <div class="dark_white_bg" ><a href="{% url 'details' product.id %}"><img width="100%"  src="{{product.product_img.url}}" alt="#"/></div>
               <h3>{{product.product_name}} ${{product.product_price}}</h3>
            </div>
         {% endfor %}
         <div class="col-md-12">
            <a class="read_more" href="#">See More</a>
         </div>
      </div>
      </div>
   </div>
</div>
<!-- end project section -->

{% endblock content %}